<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="user-view clearfix ">
  <span class="moderate-font">
    <%= link_to user_path(notification.visitor) do %>
      <%= visitor.name %>
    <% end %>
    が
  </span>
</div>
<% case notification.action %>
 <% when 'follow' then %>
  <%= "あなたをフォローしました" %>
<% when 'like' then %>
  <%= link_to 'あなたの投稿', post_votes_path(notification.post) %>
  <%= "にいいねしました" %>
<% when 'comment' then %>
  <% if notification.post.user_id == visited.id %>
    <%= link_to "あなたの投稿", post_votes_path(notification.post) %>
  <% else %>
    <%= link_to post_votes_path(notification.post) do %>
      <%= notification.post.user.name + 'の投稿' %>
    <% end %>
  <% end %>
  <%= "にコメントしました" %>
<% end %>
<%= time_ago_in_words(notification.created_at).upcase %>
