<% provide(:title, '全てのユーザー') %>
<%= render 'user_search_form', url: users_path, q: @q %>
<ul class="user-list jscroll">
  <% if @users.any? %>
    <div class="row">
      <%= render @users %>
      <%= paginate @users %>
    </div>
  <% else %>
    <p><%= '検索結果がありません' %></p>
  <% end %>
</ul>
<%= render "posts/post_btn" %>
