<% provide(:title, 'ユーザー詳細') %>
<% breadcrumb :user_show %>
<div class="md-page">
  <%= breadcrumbs pretext: "現在地:", separator: " &rsaquo; " %>

  <div class="row">
    <aside class="col-md-6">
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.thumb.url %>
      <% else %>
        <%= image_tag "/assets/default.png", :size => '100x100' %>
      <% end %>
    </aside>
    <aside class="col-md-6">
      <li>ユーザー：<%= @user.name %></li>
      <li>ユーザー：<%= @user.email %></li>
      <li>性別：<%= @user.sex %></li>
      <li>年齢：<%= @birthday %></li>
      <%= render 'follow_form' if user_signed_in? %>
      <%= render 'chat' %>
    </aside>
  </div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">投稿</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">いいねした投稿</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="item3-tab" data-toggle="tab" href="#item3" role="tab" aria-controls="item3" aria-selected="false">
        フォロー：<%= @user.following.count %>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="item4-tab" data-toggle="tab" href="#item4" role="tab" aria-controls="item4" aria-selected="false">
        フォロワー：<%= @user.followers.count %>
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
      <ul class="post-list jscroll">
        <% if @user.posts.any? %>
          <%= render @posts %>
          <%= paginate @posts %>
        <% end %>
      </ul>
    </div>
    <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
      <% @user.liked_posts.each do |post| %>
        <%= image_tag post.image.url if post.image? %>
      <% end %>
    </div>
    <div class="tab-pane fade" id="item3" role="tabpanel" aria-labelledby="item3-tab">
      <% if @following.any? %>
        <ul class="users follow">
          <% @following.each do |follow| %>
            <%= render 'user', user: follow %>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="tab-pane fade" id="item4" role="tabpanel" aria-labelledby="item4-tab">
      <% if @followers.any? %>
        <ul class="users follow">
          <% @followers.each do |followed| %>
            <%= render 'user', user: followed %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
