<% provide(:title, 'ユーザー詳細') %>
<% breadcrumb :user_show %>
<div class="md-page">
  <%= breadcrumbs pretext: "現在地:", separator: " &rsaquo; " %>
  <div class="row">
    <aside class="col-md-4">
      <li>ユーザー：<%= @user.name %></li>
      <li>ユーザー：<%= @user.email %></li>
      <%= render 'shared/stats' %>
      <%= render 'follow_form' if user_signed_in? %>
      <%= render 'chat' %>
    </aside>
    <aside class="col-md-4">
      <ul class="post-list jscroll">
        <% if @user.posts.any? %>
          <%= render @posts %>
          <%= paginate @posts %>
        <% end %>
      </ul>
    </aside>
    <aside class="col-md-4">
      <p>いいねしている投稿</p>
      <% @user.liked_posts.each do |post| %>
        <%= image_tag post.image.url if post.image? %>
      <% end %>
      </ul>
    </aside>
  </div>
</div>
