<% provide(:title, 'ユーザー詳細') %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/posts">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">User</li>
  </ol>
</nav>
<div class="text-center">
  <% if @user.avatar? %>
    <%= image_tag @user.avatar.thumb.url, class: "rounded-circle" %>
  <% else %>
    <%= image_tag "nouser.png", :size => '120x120', class: "rounded-circle" %>
  <% end %>
  <li><%= @user.name %></li>
  <% if user_signed_in? %>
    <%= render 'follow_form', user: @user %>
    <%= render 'chat', user: @user %>
  <% end %>
</div>
<ul class="nav nav-tabs justify-content-center mt-3 mb-5" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">
      公開投稿 <%= @posts.count %>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">
      いいねした投稿 <%= @user.liked_posts.count %>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="item3-tab" data-toggle="tab" href="#item3" role="tab" aria-controls="item3" aria-selected="false">
      フォロー <%= @user.following.count %>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="item4-tab" data-toggle="tab" href="#item4" role="tab" aria-controls="item4" aria-selected="false">
      フォロワー <span id="followers"><%= @user.followers.count %></span>
    </a>
  </li>
  <% if current_user == @user %>
    <li class="nav-item">
      <a class="nav-link" id="item5-tab" data-toggle="tab" href="#item5" role="tab" aria-controls="item5" aria-selected="false">
        非公開投稿 <%= @draft_posts.count %>
      </a>
    </li>
  <% end %>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
    <ul class="post-list jscroll">
      <% if @user.posts.any? %>
        <%= render @posts %>
      <% end %>
    </ul>
  </div>
  <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
    <ul class="post-list jscroll">
      <% @liked_posts.each do |post| %>
        <%= render "posts/post", post: post %>
      <% end %>
    </ul>
  </div>
  <div class="tab-pane fade" id="item3" role="tabpanel" aria-labelledby="item3-tab">
    <% if @user.following.any? %>
      <ul class="user-list jscroll">
        <div class="row">
          <% @user.following.each do |follow| %>
            <%= render 'show_follows', user: follow %>
          <% end %>
        </div>
      </ul>
    <% end %>
  </div>
  <div class="tab-pane fade" id="item4" role="tabpanel" aria-labelledby="item4-tab">
    <% if @user.followers.any? %>
      <ul class="user-list jscroll">
        <div class="row">
          <% @user.followers.each do |follower| %>
            <%= render 'show_follows', user: follower %>
          <% end %>
        </div>
      </ul>
    <% end %>
  </div>
  <div class="tab-pane fade" id="item5" role="tabpanel" aria-labelledby="item5-tab">
    <ul class="post-list jscroll">
      <% if @draft_posts.any? %>
        <% @draft_posts.each do |post| %>
          <%= render "posts/post", post: post %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<%= render "posts/post_btn" %>
