<div class="form-group">
<%= form_for @message do |f| %>
  <%= f.label :content, class:"bmd-label-floating" %>
  <%= f.text_field :content, class: 'form-control',
                             required: true %>
  <%= f.hidden_field :room_id, :value => @room.id %>
  <br>
  <%= f.submit "送信する", class: "btn btn-secondary btn-raised" %>
<% end %>
</div>
