<div class="card">
  <div class="card-body">
    <h5 class="card-title">質問：<%= @post.title %></h5>
    <% if @post.image.present? %>
      <%= image_tag @post.image.url, class: "img-fluid" %>
    <% end %>
    <%= form_for [@post, @vote] do |f| %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <% @post.options.each do |option| %>
        <div class="form-group">
          <div class="radio radio-primary">
            <label>
              <%= radio_button("vote", "option_id", option.id) %>
              <%= option.title %>
            </label>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.submit "回答", class: "btn btn-primary btn-raised btn-block" %>
      </div>
    <% end %>
  </div>
</div>
