<li id="post-<%= post.id %>">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= link_to post.user.name, post.user %></p>
      <p class="card-text"><%= post.content %></p>
      <p><%= post.impressionist_count(:filter=>:session_hash) %></p>
      <p>
        <% if current_user == post.user %>
          <%= link_to post, method: :delete, data: { confirm: "本当に削除しますか？" } do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </p>
        <div data-role="tagsinput">
          <%= render 'posts/tag_list', tag_list: post.tag_list %>
        </div>
      <% if current_user != post.user %>
        <div id="likes_buttons_<%= post.id %>">
          <%= render partial: 'likes/like', locals: { post: post} %>
        </div>
      <% end %>
      <a href="/posts/<%= post.id %>" class="btn btn-primary btn-raised">回答する</a>
    </div>
  </div>
</li>
