<li id="post-<%= post.id %>">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.content %></p>
      <p>
        <% if current_user == post.user %>
          <%= link_to post, method: :delete, data: { confirm: "本当に削除しますか？" } do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </p>
      <% if current_user != post.user %>
        <p>
          <% if current_user.already_liked?(post) %>
            <%= link_to post_likes_path(post), method: :delete do %>
              <i class="fas fa-thumbs-up"></i>
            <% end %>
          <% else %>
            <%= link_to post_likes_path(post), method: :post do %>
              <i class="far fa-thumbs-up"></i>
            <% end %>
          <% end %>
        </p>
      <% end %>
      <a href="/posts/<%= post.id %>" class="btn btn-primary">回答する</a>
    </div>
  </div>
</li>
