<% provide(:title, 'アンケートを探す') %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <a class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>
<%= render 'post_search_form', url: posts_path, q: @q %>
<ul class="post-list jscroll">
  <% if @posts.any? %>
    <%= render @posts %>
    <%= paginate @posts %>
  <% else %>
    <p class="text-center"><%= '検索結果がありません' %></p>
  <% end %>
</ul>
<%= render "post_btn" %>
