<div class="sm-page">
  <%= form_for(@post) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, placeholder: "入力してください", class: 'form-control' %>
    </div>
    <span>
      <%= f.file_field :image %>
    </span>
    <%= f.submit "投稿", class: "btn btn-primary btn-block" %>
  <% end %>
</div>
