<% provide(:title, '新規投稿') %>
<div class="container-fluid">
  <div class="new-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/posts">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">NewPost</li>
    </ol>
  </nav>
  <%= form_for(@post) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :title, class:"bmd-label-static" %>
      <%= f.text_field :title, class: 'form-control', required: true %>
      <span class="bmd-help">30文字以内で入力してください</span>
    </div>
    <div id="options">
      <%= f.fields_for :options do |option| %>
        <%= render 'option_fields', f: option %>
      <% end %>
      <div class="links">
        <%= link_to_add_association f, :options do %>
          <i class="material-icons">add_box</i>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :tag_list, class:"bmd-label-static" %>
      <%= f.text_field :tag_list, value: @post.tag_list.join(','), data: {role: "tagsinput"} %>
    </div>
    <div class="form-group">
      <%= f.label :image, class:"bmd-label-static" %>
      <label class="form-control">
      <% if @post.image.present? %>
        <%= image_tag @post.image_url, id: :img_prev, :size => '400x400', class: "form-control" %>
      <% else %>
        <%= image_tag "noimage.jpeg", id: :img_prev, :size => '400x400', class: "form-control"  %>
      <% end %>
      <br>
        <span class="btn btn-raised btn-secondary btn-block">画像ファイルを追加する</span>
        <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', id: :post_img, class: "d-none" %>
      </label>
    </div>
    <%= f.submit "投稿", class: "btn btn-primary btn-raised btn-block" %>
  <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    function check_to_hide_or_show_add_link() {
      if ($('#options .nested-fields:visible').length == 5) {
        $('#options .links a').hide();
      } else {
        $('#options .links a').show();
      }
    }
    $('#options').on('cocoon:after-insert', function() {
      check_to_hide_or_show_add_link();
    });
    $('#options').on('cocoon:after-remove', function() {
      check_to_hide_or_show_add_link();
    });
      check_to_hide_or_show_add_link();
  });
</script>

<script type="text/javascript">
  $(function() {
    function check_to_hide_or_show_delete_link() {
      if ($('#options .nested-fields:visible').length <= 2) {
        $('#options .nested-fields a').hide();
      } else {
        $('#options .nested-fields a').show();
      }
    }
    $('#options').on('cocoon:before-insert', function() {
      check_to_hide_or_show_delete_link();
    });
    $('#options').on('cocoon:after-insert', function() {
      check_to_hide_or_show_delete_link();
    });
    $('#options').on('cocoon:after-remove', function() {
      check_to_hide_or_show_delete_link();
    });
      check_to_hide_or_show_delete_link();
  });
</script>

<script type="text/javascript">
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $("#post_img").change(function(){
        readURL(this);
    });
  });
</script>
