<% provide(:title, '投稿詳細') %>
<div class="container-fluid">
  <div class="new-page">
    <div class="text-center">
      <h1 class="mt-5"><%= @post.title %></h1>
      <% if @post.image.present? %>
        <%= image_tag @post.image.url %>
      <% end %>
      <%= form_for [@post, @vote] do |f| %>
        <%= f.hidden_field :post_id, value: @post.id %>
        <% @post.options.each do |option| %>
          <div class="form-group">
            <div class="radio radio-primary">
              <label>
                <%= radio_button("vote", "option_id", option.id) %>
                <%= option.title %>
              </label>
            </div>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.submit "回答", class: "btn btn-primary btn-raised btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
