<% provide(:title, '投稿詳細') %>
<% breadcrumb :post_show %>
<div class="md-page">
  <%= breadcrumbs pretext: "現在地:", separator: " &rsaquo; " %>
  <p>投稿ユーザー：<%= link_to @post.user.name, user_path(@post.user) %></p>
  <p>タイトル：<%= @post.title %></p>
  <p>内容：<%= @post.content %></p>
  <p><%= image_tag @post.image.url if @post.image? %></p>

  <p>コメント一覧</p>
  <% @comments.each do |comment| %>
    <%= render "comment", comment: comment %>
  <% end %>

  <% if user_signed_in? %>
    <%= render "comment_form" %>
  <% end %>
</div>
