<h1>投稿詳細ページ</h1>
<h3><%= link_to @post.user.email, user_path(@post.user) %></h3>
<h3><%= @post.content %></h3>
<%= image_tag @post.image.url if @post.image? %>

<h2>コメント一覧</h2>
<% @comments.each do |c| %>
  <div>
    <a href="/users/<%= @post.user.id %>"><%= c.user.email %></a>
    <%= c.content %>
    <hr>
  </div>
<% end %>

<% if user_signed_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <%= f.label :content %>
    <%= f.text_field :content, placeholder: "30文字以内で入力してください",
                               class: 'form-control',
                               required: true %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <br>
    <%= f.submit 'コメントする' %>
  <% end %>
<% end %>

<%= link_to "ホームへ戻る", posts_path %>
