<% provide(:title, '回答') %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/posts">Home</a></li>
    <li class="breadcrumb-item"><a href="/posts/<%= @post.id %>">Post</a></li>
    <li class="breadcrumb-item active" aria-current="page">Answer</li>
  </ol>
</nav>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-5">
        <h5 class="card-title text-center"><%= @post.title %></h5>
        <%= pie_chart @chart, donut: true, messages: {empty: "まだ回答がありません。"} %>
      </div>
      <div class="col-md-7 text-center">
        <h5 class="card-title">回答</h5>
        <aside>
          <% if @post.image? %>
            <%= image_tag @post.image.url, class: "img-fluid" %>
          <% end %>
        </aside>
        <% @options.each do |option| %>
            <%= option.title %>
            <%= option.vote_count %>
        <% end %>
        回答者数<%= @votes.count %>
      </div>
    </div>
  </div>
</div>
<div class="comments">
  <div class="card mt-3">
    <div class="card-body">
      <div class="card-title text-center">
        <h4>コメント一覧</h4>
      </div>
      <div id="comments_area">
        <%= render "posts/comment", comments: @comments %>
      </div>
      <%= form_for [@post, @comment], remote: true do |f| %>
        <div class="form-group">
          <%= f.label :content, class:"bmd-label-floating" %>
          <%= f.text_field :content, class: 'form-control', required: true, maxlength:'30' %>
          <%= f.hidden_field :post_id, value: @post.id %>
          <span class="bmd-help">30文字以内で入力して下さい</span>
        </div>
        <div class="form-group">
          <%= f.submit '送信する', class: "btn btn-secondary btn-block btn-raised" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
