<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-5">
        <h5 class="card-title post-title"><%= @post.title %></h5>
        <%= pie_chart @chart, donut: true, messages: {empty: "まだ回答がありません。"} %>
      </div>
      <div class="col-md-7">
        <h5 class="card-title post-title">回答</h5>
        <aside>
          <% if @post.image? %>
            <%= image_tag @post.image.url, class: "img-fluid" %>
          <% end %>
        </aside>
        <% @options.each do |option| %>
            <%= option.title %>
            <%= option.vote_count %>
        <% end %>
        回答者数<%= @votes.count %>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="card-title"><h4>コメント一覧</h4></div>
    <% @comments.each do |comment| %>
      <div id="comment-<%= comment.id %>">
        <%= render "posts/comment", comment: comment %>
      </div>
    <% end %>
    <%= render "posts/comment_form" %>
  </div>
</div>
