<header>
  <nav class="navbar navbar-expand-lg bg-white fixed-top">
    <div class="container">
      <%= link_to root_path, class: "navbar-brand" do %>
        <i class="material-icons">home</i>
        <span>ホーム</span>
      <% end %>
      <% if user_signed_in? %>
      <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="material-icons">settings</i>
      </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto">　
            <li class="nav-item">
              <%= link_to users_path, class: "nav-link" do %>
                <i class="material-icons">face</i>
                <span>ユーザーを探す</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to posts_path, class: "nav-link" do %>
                <i class="material-icons">live_help</i>
                  <span>アンケートを探す</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to ranking_path, class: "nav-link" do %>
                <i class="material-icons">favorite</i>
                  <span>いいねランキング</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to pv_path, class: "nav-link" do %>
                <i class="material-icons">remove_red_eye</i>
                <span>PVランキング</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to notifications_path, class: "nav-link" do %>
                <% if unchecked_notifications.any? %>
                  <i class="material-icons">notifications_active</i>
                  <span>通知</span>
                <% else %>
                  <i class="material-icons">notifications</i>
                  <span>通知</span>
                <% end %>
              <% end %>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">more_vert</i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to user_path(current_user), class: "dropdown-item" do %>
                  <i class="material-icons">account_circle</i>
                    <span>マイページ</span>
                <% end %>
                <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                  <i class="material-icons">supervisor_account</i>
                    <span>設定</span>
                <% end %>
                <div class="dropdown-divider"></div>
                <%= link_to destroy_user_session_path, class: "dropdown-item", method: :delete do %>
                  <i class="material-icons">exit_to_app</i>
                    ログアウト
                <% end %>
              </div>
            </li>
          </ul>
        </div>
      <% else %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link" do %>
              <i class="material-icons">lock_open</i>
                <span>ログイン</span>

            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: "nav-link" do %>
              <i class="material-icons">verified_user</i>
                <span>新規登録</span>

            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>
</header>
